@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  font-family: Inter, sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(circle at top right, #fff9e8 0%, #ffffff 35%, #f9fafb 100%);
}

.dark body {
  background: radial-gradient(circle at top right, #272115 0%, #111111 40%, #161616 100%);
}
